<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Application de transfert d'argent</display-name>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/clientError.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.ClientServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TauxServlet</display-name>
    <servlet-name>TauxServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.TauxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TauxServlet</servlet-name>
    <url-pattern>/new_taux</url-pattern>
    <url-pattern>/insert_taux</url-pattern>
    <url-pattern>/delete_taux</url-pattern>
    <url-pattern>/edit_taux</url-pattern>
    <url-pattern>/update_taux</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/new</url-pattern>
    <url-pattern>/insert</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/edit</url-pattern>
    <url-pattern>/update</url-pattern>
    <url-pattern>/search</url-pattern>
    <url-pattern>/generate</url-pattern>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FraisServlet</display-name>
    <servlet-name>FraisServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.FraisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FraisServlet</servlet-name>
    <url-pattern>/new_frais</url-pattern>
    <url-pattern>/insert_frais</url-pattern>
    <url-pattern>/delete_frais</url-pattern>
    <url-pattern>/edit_frais</url-pattern>
    <url-pattern>/update_frais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transfertServlet</display-name>
    <servlet-name>transfertServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.transfertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfertServlet</servlet-name>
    <url-pattern>/transfertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvoyerServlet</display-name>
    <servlet-name>EnvoyerServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.EnvoyerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvoyerServlet</servlet-name>
    <url-pattern>/new_envoyer</url-pattern>
    <url-pattern>/insert_envoyer</url-pattern>
    <url-pattern>/delete_envoyer</url-pattern>
    <url-pattern>/edit_envoyer</url-pattern>
    <url-pattern>/update_envoyer</url-pattern>
    <url-pattern>/search_envoyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfServlet</display-name>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>net.javaguides.transfert.web.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/PdfServlet</url-pattern>
  </servlet-mapping>
</web-app>